*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.5px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logoun {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center; 
}


.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
}

.gnum {
    display: flex;
    align-items: center;
    margin-left: -20px;
    line-height: 1.5;
}

.gnum a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 1000;
    
}

.navbar {
    display: flex;
    margin-right: 10px;
}



.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar a:hover {
    background: #646464;
}

.header {
    position: relative;
    height: 60vh;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5) contrast(1);
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
    text-transform: none;
    color: #ffff;
}

p {
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    padding: 0 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para el nombre de la universidad */
.university {
    display: block;
    font-size: 20px; /* Tamaño de letra para el nombre de la universidad */
    font-weight: bold; /* Opcional: para hacer que el texto sea más llamativo */
}

.about {
    background: #363232;
    height: 80vh;
}

.projects {
    padding: 100px;
    background: #1f1d1d;
    height: 30vh;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(41, 41, 41, 0.5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #646464;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #646464;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;

}

.team {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.tools {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width: 1200px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    
    .projects {
        height: 100vh;
    }
    
    .navbar {
        display: none;
    }
}